<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analog To Digital</title>
    <link rel="stylesheet" href="./style.css">

    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    <script src="./numbers.js"></script>
    <script src="./clockStyles.js"></script>
    <script src="./index.js" defer></script>
</head>
<body v-cloak>
    <header>
        <h1>Analog To Digital</h1>
    </header>

    <div id="selectDiv">
        <p>Style</p>
        <select id="select" v-model="clockStyle">
            <span v-for:="(style, name) in clockStyles" :key="name">
                <option selected :value="name">{{ style.hint }}</option>
            </span>
        </select>
        <br />
        <button id="modalButton" @click="showModal = true">Settings</button>
    </div>

    <content>
        <table id="clocks">
            <tr v-for="(handSet, x) in hands" :key="x">
                <td v-for="(hand, y) in handSet" :key="y" :style="{ width: clockSize + 'px', height: clockSize + 'px' }">
                    <div class="clock">
                        <div class="hour" :style="{ rotate: `${hands[x][y].hour * 90}deg`, transitionDuration: `${hands[x][y].timingH}s` }"></div>
                        <div class="minute" :style="{ rotate: `${hands[x][y].minute * 90}deg`, transitionDuration: `${hands[x][y].timingM}s` }"></div>
                    </div>
                </td>
            </tr>
        </table>
        <br />
    </content>

    <div id="modal" v-if="showModal || resizeAlerted">
        <div id="modalBlur">
            <div id="modalContent" v-if="showModal">
                <button id="modalButton" @click="showModal = false">Close</button>
                <br />
                <br />
                <label>
                    <input type="checkbox" v-model="timeFormat24" />
                    24-hour Format
                </label>
                <br />
                <br />
                <label>
                    <input type="checkbox" v-model="movingColons" />
                    Moving Colons 
                </label>
            </div>

            <div id="modalContent" v-if="resizeAlerted">
                <p>Warning: The clock may not fit in your window. Try pressing ctrl + - (or command + - on Mac) to zoom out</p>
                <button id="modalButton" @click="resizeAlerted = false; itsFine = true;">Its fine</button>
            </div>
        </div>
    </div>
</body>
</html>