/* No AI was used for this css */

[v-cloak] {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f9f9f9;
}

header {
    padding: 10px;
    height: 40px;
}

content {
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 3px;
}


/*********** Clock ***********/
.clock {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: white;
    border: 2px solid #949494;
    padding: 0;
}

td {
    padding: 2px;
}

.minute, .hour {
    position: relative;
    width: 4px;
    height: 100%;
    left: 50%;
    transition-timing-function: ease-in-out;
}

.hour {
    background: linear-gradient(to top, rgba(0,0,0,0) 50%, black 50%, black 95%, rgba(0,0,0,0) 95%);
}

.minute {
    background: linear-gradient(to top, rgba(0,0,0,0) 50%, black 50%, black 95%, rgba(0,0,0,0) 95%);
    translate: 0px -100%;
}
