[v-cloak] {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f9f9f9;
}

header {
    padding: 10px;
    height: 40px;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 3px;
}

#selectDiv {
    text-align: center;
    margin: 10px 0px 25px 0px;
    height: 105px;
}

#selectDiv p {
    margin: 0;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    color: #555;
}

#select {
    padding: 5px;
    font-size: 16px;
    outline: none;
}

content {
    position: absolute;
    top: 200px;
    width: 100%;
    height: calc(100vh - 150px);
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}    

content table {
    margin-bottom: 30px;
}



/*********** Clock ***********/
.clock {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: white;
    border: 2px solid #949494;
    padding: 0;
}

td {
    padding: 2px;
}

.minute, .hour {
    position: relative;
    width: 4px;
    height: 100%;
    left: 50%;
    transition-timing-function: ease-in-out;
    border-radius: 10%;
}

.hour {
    background: linear-gradient(to top, rgba(0,0,0,0) 50%, black 50%, black 95%, rgba(0,0,0,0) 95%);
}

.minute {
    background: linear-gradient(to top, rgba(0,0,0,0) 50%, black 50%, black 95%, rgba(0,0,0,0) 95%);
    translate: 0px -100%;
}




/*********** Modal ***********/
#modalButton {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    background-color: #cacaca;
}

#modal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modalBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    transition-duration: 0.5s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalContent {
    background-color: white;
    padding: 20px;
    border: 2px solid #888;
    width: 300px;
    text-align: center;
    z-index: 1001;
}
